/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Propiedades del body */

.body-dcompras{
    font-family: 'Inter', sans-serif;
}

/* Propiedades del header */

.header-dcompras{
    text-align: center;
    width: 75rem;
    padding: 1rem 0;
    border-style: none none solid;
    border-width: 0.05rem;
    border-color: #00000066;
    margin: 0 auto;
    display: flex;
}

/* Propiedades del logo */

.header-dcompras a{
    padding: 0;
    width: 16.6%;
}

.header-dcompras a h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    letter-spacing: -0.05rem;
    display: inline-block;
}

.header-dcompras a h1 span{
    font-size: 1.75rem;
    display: inline-block;
    height: 2rem;
    background-color: #4b4be6;
    color: white;
    font-weight: 800;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    margin-right: 0.15rem;
}

/* Propiedades del buscador */

.buscador-dcompras{
    width: 66.6%;
    padding: 0;
    margin: 0;
}

.buscador-dcompras input{
    width: 90%;
    height: 2rem;
    border-radius: 0.6rem;
    border-style: solid;
    border-width: 0.08rem;
    padding: 0 0.6rem;
    font-size: 1rem;
}

.buscador-dcompras button{
    position: relative;
    right: 2.3rem;
    width: 0;
    color: black;
    background-color: #ffffff00;
    border-style: none;
}

/* Propiedades del login */

.login-dcompras{
    margin-top: 0.35rem;
    display: inline-block;
    color: black;
}

.login-dcompras i{
    font-size: 1.3rem;
    margin: 0 0.25rem;
}

.login-dcompras span{
    font-size: 1rem;
}

/* Propiedades del menu */

.menu-header nav ul{
    width: 50rem;
    padding: 0;
    margin: 0 auto;
}

.menu-header nav ul li{
    padding: 0;
    text-align: center;
    color: white;
    margin: 0;
    list-style: none;
    border-style: none;

}

.menu-header nav ul li a{
    width: 100%;
    padding-top: 0.5rem;
    height: 2.2rem;
    display: inline-block;
    color: white;
    font-size: 0.9rem;
    border-style: none solid;
    background-color: #4b4be6;
    border-color: white;
    border-width: 0.02rem;
}

.menu-header nav ul li a:hover{
    color: black;
    font-size: 0.9rem;
    border-style: solid;
    background-color: #ffffff;
    border-color: black;
    border-width: 0.02rem;
}

.dropdown-menu{
    left: -1.1rem  !important;
    width: 12rem !important;
    border-radius: 0;
    box-shadow: none !important;
}

.dropdown-item{
    color: black !important;
    background-color: #ffffff !important;
    border-style: solid none !important;
    font-size: 0.75rem !important;
    border-width: 0.05rem !important;
    border-color: #00000040 !important;
}

.dropdown-item:hover{
    background-color: #cacaca !important;
}

.nav-dcompras-movil{
    display: none;
}

/* Propiedades del contenido principal */

.cont-principal-dcompras{
    margin: 2rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

/* Propiedades de la oferta del Call to action */

.ad-dcompras{
    width: 75rem;
}

.ad-dcompras img{
    width: 100%;
}

/* Propiedades de los items de compra */

.lista-principal-index{
    width: 75rem;
    margin: 3rem 0;
}

.lista-principal-index h2{
    font-weight: 600;
    font-size: 1.4rem;
    color: #4b4be6;
    padding: 1rem 0;
    border-top-style: solid;
    border-width: 0.05rem;
    border-color: #00000066;
}

/* Propiedades de cada item */

.lista-items-index{
    display: grid;
    grid-template-areas: 
    "item-1 item-2 item-3 item-4 item-5";
    gap: 1rem;
}

.lista-items-index a{
    height: 20.5rem;
    background-color: white;
    border-style: solid;
    border-color: #00000040;
    border-width: 0.05rem;
}

.lista-items-index a:hover{
    box-shadow: 0 0 0.25rem 0 #00000099;
}

.lista-items-index a img{
    width: 90%;
    margin: 0.7rem 5%;
}

.lista-items-index a p{
    padding: 0.4rem 5%;
    font-size: 0.85rem;
    color: #282828;
}

.lista-items-index a p span{
    font-weight: 600;
}

.item-dcompra-1{
    grid-area: item-1;
}

.item-dcompra-2{
    grid-area: item-2;
}

.item-dcompra-3{
    grid-area: item-3;
}

.item-dcompra-4{
    grid-area: item-4;
}

.item-dcompra-5{
    grid-area: item-5;
}

/* Propiedades de las categorias */

.lista-items-categorias{
    display: grid;
    grid-template-areas: 
    "cat-1 cat-2 cat-3 cat-4 cat-5";
    gap: 1rem;
}

.lista-items-categorias a{
    margin-top: 1rem;
    text-align: center;
}

.lista-items-categorias a img{
    margin-bottom: 1rem;
    border-radius: 50%;
}

.lista-items-categorias a p{
    color: black;
    font-weight: 700;
    font-size: 1.125rem;
}

/* Propiedades del footer */

.footer-index{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    text-align: center;
}

.foot-info{
    width: 75rem;
}

.foot-info div{
    display: inline-block;
}

.foot-info p{
    font-size: 0.75rem;
    display: inline-block;
    color: white;
    margin: 0;
    padding: 0.6rem 0 0;
}

.foot-info a{
    font-size: 0.85rem;
    padding: 0.75rem;
    color: white;
}

/* Propiedades para pantallas pequeñas */

@media (max-width: 1250px){
    .header-dcompras{
        width: 60rem;
    }
    .header-dcompras a{
        padding: 0;
        width: 20%;
    }
    .buscador-dcompras input{
        width: 95%;
    }
    .buscador-dcompras{
        width: 60%;
    }
    .ad-dcompras{
        width: 60rem;
    }
    .item-dcompra-5{
        display: none;
    }
    .lista-principal-index{
        width: 60rem;
        margin: 2rem 0;
    }
    .lista-items-categorias{
        width: 60rem;
    }
    .lista-items-categorias a img{
        width: 11.2rem;
    }
    .lista-items-categorias a p{
        font-size: 0.95rem;
    }
    .foot-info{
        width: 60rem;
    }
}

@media (max-width: 1000px){
    .header-dcompras{
        width: 50rem;
    }
    .header-dcompras a{
        padding: 0;
        width: 20%;
    }
    .buscador-dcompras input{
        width: 95%;
    }
    .buscador-dcompras{
        width: 60%;
    }
    .ad-dcompras{
        width: 50rem;
    }
    .item-dcompra-4{
        display: none;
    }
    .lista-principal-index{
        width: 45rem;
        margin: 1.5rem 0;
    }
    .lista-items-categorias{
        width: 45rem;
    }
    .lista-items-categorias a img{
        width: 8.2rem;
    }
    .lista-items-categorias a p{
        font-size: 0.8rem;
    }
    .foot-info{
        width: 45rem;
    }
}

/* Propiedades para pantallas celulares */

@media (max-width: 850px){
    header{
        position: sticky;
        top: -4.2rem;
        z-index: 3;
        background-color: white;
        padding-bottom: 0.8rem;
    }

    .header-dcompras{
        width: 90%;
    }
    .header-dcompras a{
        width: auto;
    }
    .header-dcompras a h1{
        position: relative;
        left: 0;
        text-align: left;
    }
    .login-dcompras{
        position: absolute;
        right: 5%;
    }

    .buscador-dcompras{
        display: none;
    }

    .menu-header{
        display: none;
    }

    .nav-dcompras-movil{
        display: flex;
        width: 90%;
        margin: 1rem auto;
    }

    .buscador-dcompras-movil{
        display: inline-block;
        width: 100%;
        padding: 0.25rem 0 0;
    }
    
    .buscador-dcompras-movil input{
        width: 95%;
        height: 2rem;
        border-radius: 0.6rem;
        border-style: solid;
        border-width: 0.08rem;
        padding: 0 0.6rem;
        font-size: 1rem;
    }
    
    .buscador-dcompras-movil button{
        width: 0;
        position: relative;
        right: 2.3rem;
        color: black;
        background-color: #ffffff00;
        border-style: none;
    }

    .menu-header-movil{
        display: inline-block;
        width: 5rem;
    }
    
    .menu-header-movil nav{
        padding: 0;
    }

    #navbarTogglerDemo01 ul{
        margin: 1rem 0 0;
        padding: 0;
        color: black !important;
        position: relative;
        left: -1.8rem;
        
    }

    #navbarTogglerDemo01 ul li{
        padding: 0.2rem 0.35rem;
        list-style: none;
        border-style: none;
        text-align: right;
        background-color: #ffffff;
    }
    #navbarTogglerDemo01 ul li:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    #navbarTogglerDemo01 ul li a{
        font-size: 0.9rem;
        color: black !important;
    }

    .cont-principal-dcompras{
        margin-top: 0.5rem;
    }

    .ad-dcompras{
        width: 98%;
    }

    .item-dcompra-3{
        display: none;
    }

    .lista-principal-index{
        width: 90%;
        margin: 1.1rem 0;
    }

    .lista-items-index{
        grid-template-areas: 
        "item-1 item-2";
        justify-content: center;
        gap: 10%;
    }

    .lista-items-index a{
        max-width: 16rem;
        height: auto;
    }

    .lista-items-categorias{
        width: 100%;
    }

    .lista-items-categorias a img{
        max-width: 100%;
        height: auto;
    }

    .lista-items-categorias a p{
        display: none;
    }

    .footer-index{
        position: initial;
        display: block;
    }

    .foot-info{
        width: 100%;
    }

    .foot-info p{
        text-align: center;
        font-size: 0.5rem;
        padding: 0.5rem;
    }
    
    .foot-info a{
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}

@media (max-width: 540px){
    .item-dcompra-2{
        display: none;
    }

    .lista-principal-index{
        width: 90%;
        margin: 1.1rem 0;
    }

    .lista-items-index{
        grid-template-areas: 
        "item-1";
        justify-content: center;
        gap: 0;
    }

    .lista-items-categorias{
        text-align: left;
        justify-content: center;
        grid-template-areas:
        "cat-1"
        "cat-2"
        "cat-3"
        "cat-4"
        "cat-5";
        gap: 0;
    }

    .lista-items-categorias a{
        margin: 0;
    }

    .lista-items-categorias img{
        margin: 0;
    }

    .lista-items-categorias a p{
        text-align: left;
        display: inline-block;
        width: 30%;
        padding-left: 1rem;
    }
    
    .foot-info p span{
        display: none;
    }
}