/* Propiedades del footer */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    text-align: center;
    .foot-info{
        width: 75rem;
        @extend %flex;
        div{
            display: inline-block;
        }
        p{
            font-size: 0.75rem;
            display: inline-block;
            color: white;
            margin: 0;
            padding: 0.6rem 0 0;
        }
        a{
            font-size: 0.85rem;
            padding: 0.75rem;
            color: white;
        }
    }
}